
@{
    ViewBag.Title = "RemoveFaceFromFaceset";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        <h1>FaceSet RemoveFace API</h1>
        <p><a href="https://console.faceplusplus.com/documents/6329376" target="_blank">Go to Full Document Page</a></p>
        <p>Important : if you can know/call tokens(from db, xml...), token versions is recommended. Token api names are inside full document page.</p>
        <p>Remove all or part of face_token within a FaceSet.</p><br />
    </div>
    <div class="col-md-12">
        <h2>FaceSet RemoveFace API Form</h2>
        @using (Html.BeginForm("RemoveFaceFromFaceset", "Default", FormMethod.Post))
        {
            <label>Link : </label>
            <input id="fsrfUrl" type="text" name="fsrfUrl" class="form-control" placeholder="Image Link" value="http://www.sephora.com/contentimages/categories/makeup/CONTOURING/030515/animations/round/round_01_before.jpg" required />
            <label>Outer ID : </label>
            <input id="fsrfOuter" type="text" name="fsrfOuter" class="form-control" placeholder="Outer ID" value="Test" required /><br />
            <input type="submit" value="Remove Face From Faceset" class="btn btn-primary btn-block" />
        }
    </div>
    <div class="col-md-12" runat="server" ID="result" style="white-space: pre !important; margin-top:20px;">
        @{
            if (ViewBag.Result != null)
            {
                @ViewBag.Result
            }
        }
    </div>
</div>